@import url("/home/samar/.cache/wal/colors-waybar.css");

* {
  font-family: Roboto,'FiraCode';
  font-weight: 500;
}

window#waybar {
  background-color: @background;
  background: rgba(0, 0, 0, 0.5);
  color: @foreground;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/*Workspace styles*/
#workspaces {
  background-color: transparent;
  border-radius: 9px;
  transition: 0.2s ease;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  border-bottom-width: 4px;
  border-bottom-color: @color3;
  border-bottom-style: solid;
  border-radius: 0px;
}

#workspaces button {
  color: @foreground;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 9px;
  transition: 0.2s ease;
  margin-right: 4px;
  margin-left: 4px;
}

#workspaces button.active {
  background-color: @color3;
  color: @background;

  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;

  transition: all 0.3s ease;

  margin-bottom: -5px;

  padding-left: 4px;
  padding-right: 4px;

  border-bottom-width: 2px;
  border-bottom-color: @color3;
  border-bottom-style: solid;
  border-radius:2px;
}

#workspaces button:hover {
  background: none;
  color: @color4;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.urgent {
  color: @color9;
}

/*Styles for system information modules*/
#custom-mpd,
#pulseaudio,
#network,
#bluetooth,
#battery,
#clock,
#custom-mpd,
#custom-web,
#custom-chatgpt,
#custom-odinproject,
#custom-wallchange,
#custom-themechange,
#custom-themefront {
  background-color: @background;
  color: @foreground;

  padding-left: 10px;
  padding-right: 10px;
  margin-top: 4px;
  margin-bottom: 8px;
  border-radius: 8px;

  border-bottom-width: 1.5px;
  border-bottom-color: @color7;
  border-bottom-style: solid;
}

/*Battery style*/
#battery.charging {
  color: lightgreen;
}

#battery.critical {
  color: red;
}

#battery.warning {
  color: yellow;
}


#custom-web {
  /*margin:0 12px 7px 12px;*/
  color: @color4;
}
/*Custom modules style*/

#custom-chatgpt {
  /*min-width: 20px;*/
  margin-left: 7px;
  margin-right: 7px;
  background-image: url("assets/chatgpt.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#custom-odinproject {
  /*min-width: 20px;*/
  /*margin-top: 14px;*/
  background-image: url("assets/odin.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#custom-themefront {
  padding-right:12px ;
}

#custom-themechange {
  margin-right: 7px;
  font-size: 15px;
}
#custom-wallchange {
  margin-right: 7px;
  margin-left: 7px;
}

*{
  min-height: 2px;
  font-size: 15px;
}
