* {
    primary: #84d2e7;
    primary-fixed: #acedff;
    primary-fixed-dim: #84d2e7;
    on-primary: #003640;
    on-primary-fixed: #001f26;
    on-primary-fixed-variant: #004e5c;
    primary-container: #004e5c;
    on-primary-container: #acedff;
    secondary: #b2cbd2;
    secondary-fixed: #cee7ef;
    secondary-fixed-dim: #b2cbd2;
    on-secondary: #1d343a;
    on-secondary-fixed: #061f24;
    on-secondary-fixed-variant: #334a51;
    secondary-container: #334a51;
    on-secondary-container: #cee7ef;
    tertiary: #bfc4eb;
    tertiary-fixed: #dde1ff;
    tertiary-fixed-dim: #bfc4eb;
    on-tertiary: #282f4d;
    on-tertiary-fixed: #131937;
    on-tertiary-fixed-variant: #3f4565;
    tertiary-container: #3f4565;
    on-tertiary-container: #dde1ff;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #0f1416;
    on-surface: #dee3e5;
    on-surface-variant: #bfc8cb;
    outline: #899295;
    outline-variant: #3f484b;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #dee3e5;
    inverse-on-surface: #2c3133;
    inverse-primary: #00687a;
    surface-dim: #0f1416;
    surface-bright: #343a3c;
    surface-container-lowest: #090f11;
    surface-container-low: #171c1e;
    surface-container: #1b2022;
    surface-container-high: #252b2d;
    surface-container-highest: #303638;
}
