/***
 *    ┓ ┏┏┓┓┏┳┓┏┓┳┓  ┳┓┓ ┳┳┏┓┓┏  ┏┓┏┓┏┓
 *    ┃┃┃┣┫┗┫┣┫┣┫┣┫━━┣┫┃ ┃┃┗┓┣┫━━┃ ┗┓┗┓
 *    ┗┻┛┛┗┗┛┻┛┛┗┛┗  ┻┛┗┛┗┛┗┛┛┗  ┗┛┗┛┗┛
 *                                     
 */



/*--------------Import Matugen Colors--------------*/
@import "../../colors.css";

* {
	min-height: 0;
	min-width: 0;
	font-family: "GeistMono Nerd Font Propo";
	font-size: 12px;
	font-weight: 600;
}

window#waybar {
	transition-property: background-color;
	transition-duration: 0.5s;
	background-color: @surface-alpha;
}


#workspaces button {
	padding: 0.3rem 0.6rem;
	margin: 0.4rem 0.25rem;
	border-radius: 6px;
	background-color: @surface;
	color: @on_surface;
}

#workspaces button:hover {
	color: @scrim;
	background-color: @tertiary;
}

#workspaces button.active {
	background-color: @surface;
	color: @primary;
}

#workspaces button.urgent {
	background-color: @surface;
	color: @error;
}

#taskbar button {
	box-shadow: none;
	text-shadow: none;
	padding: 0px;
	border-radius: 3px;
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
	margin-left: 0px;
	padding-left: 3px;
	padding-right: 3px;
	margin-right: 0px;
	color: @on_surface;
	animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
	background: @primary;
	color: @scrim;
	margin-left: 3px;
	padding-left: 12px;
	padding-right: 12px;
	margin-right: 3px;
	animation: tb_active 20s ease-in-out 1;
	transition: all 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
}

#taskbar button:hover {
	background: @tertiary;
	color: @scrim;
	animation: tb_hover 20s ease-in-out 1;
	transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}



#clock,
#pulseaudio,
#custom-logo,
#custom-launcher,
#custom-spotify,
#custom-notification,
#battery,
#cpu,
#tray,
#memory,
#taskbar,
#mpris {
	padding: 0.3rem 0.6rem;
	margin: 0.4rem 0.25rem;
	border-radius: 6px;
	background-color: @surface;
}

#mpris.playing {
	color: @primary;
}

#mpris.paused {
	color: @error;
}

#custom-sep {
	padding: 0px;
	color: @primary;
}

#battery {
	color: @on_surface;
}

#battery.critical,
#battery.warning,
#battery.full,
#battery.plugged {
	color: @error;
}



#cpu {
	color: @primary;
}

#memory {
	color: @tertiary;
}

#clock {
	color: @secondary;
}

#clock.simpleclock {
	color: @secondary;
}

#window {
	color: @on_surface;
}

#pulseaudio {
	color: @primary;
}

#pulseaudio.muted {
	color: @error;
}



#custom-launcher {
	padding: 0rem 0.8rem;
	color: @error;
}

#custom-pacman,
#custom-colorpicker,
#custom-weather {
	padding: 0.3rem 0.6rem;
	border-right: none;
	border-left: none;
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
	margin-left: 0rem;
	margin-right: 0rem;
	background-color: @surface;
}

#custom-pacman {
	color: @primary;
	border-radius: 6px 0px 0px 6px;
	border-right: none;
	border-left: none;
}

#custom-colorpicker {
	color: @on_surface;
	border-radius: 0px 6px 6px 0px;
	border-right: none;
	border-left: none;
}

tooltip {
	background-color: @surface;
	border: 2px solid @primary;
}
