@import '../../colors.css';
/* Matugen-generated */

* {
	font-family: "JetBrainsMono Nerd Font", "Material Symbols Rounded", sans-serif;
	font-size: 0.9rem;
	border: none;
	padding: 0 6px;
	transition: all 0.3s ease;
}

window#waybar {
	background-color: transparent;
	/* subtle neutral background */
	color: @on_surface;
	border-bottom: 0px solid @outline_variant;
}

/* Modules */
#custom-updates,
#network,
#battery,
#pulseaudio,
#clock,
#custom-notifications,
#workspaces button,
#custom-powermenu {
	background-color: @surface_container_high;
	color: @on_surface;
	margin: 6px 4px;
	padding: 4px 12px;
	border-radius: 16px;
	font-weight: 500;
}

/* Battery states */
#battery.good {
	color: @on_primary_container;
	background-color: @primary_container;
}

#battery.warning {
	color: @on_secondary_container;
	background-color: @secondary_container;
}

#battery.critical {
	color: @on_error_container;
	background-color: @error_container;
}

#battery.charging {
	background-color: @tertiary_container;
	color: @on_tertiary_container;
}

/* Volume */
#pulseaudio.muted {
	background-color: @surface_variant;
	color: @on_surface_variant;
}

/* Workspaces */
#workspaces {
	background: transparent;
	margin: 4px 4px;
	padding: 0;
	border-radius: 12px;
}

#workspaces button {
	font-size: 1rem;
	padding: 4px 4px;
	margin: 2px;
	border-radius: 10px;
	background-color: transparent;
	color: @on_surface_variant;
	transition: all 0.3s ease;
}

#workspaces button:hover {
	background-color: @surface_container_highest;
	color: @on_secondary;
}

#workspaces button.active {
	background-color: @primary_container;
	color: @on_primary_container;
}

#workspaces button.urgent {
	background-color: @error_container;
	color: @on_error_container;
}


/* Notifications */
#custom-notifications {
	font-size: 1rem;
	padding-right: 14px;
}

#custom-notifications:hover {
	background-color: @inverse_surface;
	color: @inverse_on_surface;
}

/* Clock */
#clock {
	background-color: @surface_container_highest;
	color: @on_surface;
}

.modules-right>* {
	margin-left: 6px;
}

.modules-left>* {
	margin-right: 6px;
}

.modules-center {
	padding: 0 20px;
}

#custom-powermenu {
	font-size: 1rem;
	background-color: @error_container;
	color: @on_error_container;
	padding-right: 15px;
}

#custom-powermenu:hover {
	background-color: @error;
	color: @scrim;
}

#custom-updates:hover {
	background-color: @inverse_surface;
	color: @inverse_on_surface;
}
