/***
 *    ┳┳┓┏┓┏┳┓┳┳┏┓┏┓┳┓  ┳┓┏┓┏┓┳
 *    ┃┃┃┣┫ ┃ ┃┃┃┓┣ ┃┃━━┣┫┃┃┣ ┃
 *    ┛ ┗┛┗ ┻ ┗┛┗┛┗┛┛┗  ┛┗┗┛┻ ┻
 *                             
 */


* {
    primary: #a1c9fd;
    primary-fixed: #d2e4ff;
    primary-fixed-alpha: rgba(210, 228, 255, 0.2);
    primary-fixed-dim: #a1c9fd;
    on-primary: #003259;
    on-primary-fixed: #001c37;
    on-primary-fixed-variant: #1b4975;
    primary-container: #1b4975;
    on-primary-container: #d2e4ff;
    secondary: #bbc7db;
    secondary-fixed: #d7e3f8;
    secondary-fixed-dim: #bbc7db;
    on-secondary: #253141;
    on-secondary-fixed: #101c2b;
    on-secondary-fixed-variant: #3c4858;
    secondary-container: #3c4858;
    on-secondary-container: #d7e3f8;
    tertiary: #d7bee4;
    tertiary-fixed: #f3daff;
    tertiary-fixed-dim: #d7bee4;
    on-tertiary: #3b2947;
    on-tertiary-fixed: #251431;
    on-tertiary-fixed-variant: #533f5f;
    tertiary-container: #533f5f;
    on-tertiary-container: #f3daff;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #111418;
    surface-alpha: rgba(17, 20, 24, 0.7);
    on-surface: #e1e2e8;
    on-surface-variant: #c3c6cf;
    outline: #8d9199;
    outline-variant: #43474e;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e1e2e8;
    inverse-on-surface: #2e3135;
    inverse-primary: #37618e;
    surface-dim: #111418;
    surface-bright: #36393e;
    surface-container-lowest: #0b0e13;
    surface-container-low: #191c20;
    surface-container: #1d2024;
    surface-container-high: #272a2f;
    surface-container-highest: #32353a;
}
