/***
 *    ┳┳┓┏┓┏┳┓┳┳┏┓┏┓┳┓  ┳┓┏┓┏┓┳
 *    ┃┃┃┣┫ ┃ ┃┃┃┓┣ ┃┃━━┣┫┃┃┣ ┃
 *    ┛ ┗┛┗ ┻ ┗┛┗┛┗┛┛┗  ┛┗┗┛┻ ┻
 *                             
 */


* {
    primary: #9acbfa;
    primary-fixed: #cde5ff;
    primary-fixed-alpha: rgba(205, 229, 255, 0.2);
    primary-fixed-dim: #9acbfa;
    on-primary: #003352;
    on-primary-fixed: #001d32;
    on-primary-fixed-variant: #0a4a72;
    primary-container: #0a4a72;
    on-primary-container: #cde5ff;
    secondary: #b9c8da;
    secondary-fixed: #d4e4f6;
    secondary-fixed-dim: #b9c8da;
    on-secondary: #233240;
    on-secondary-fixed: #0d1d2a;
    on-secondary-fixed-variant: #394857;
    secondary-container: #394857;
    on-secondary-container: #d4e4f6;
    tertiary: #d2bfe7;
    tertiary-fixed: #eedcff;
    tertiary-fixed-dim: #d2bfe7;
    on-tertiary: #382a49;
    on-tertiary-fixed: #221533;
    on-tertiary-fixed-variant: #4f4061;
    tertiary-container: #4f4061;
    on-tertiary-container: #eedcff;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #101418;
    surface-alpha: rgba(16, 20, 24, 0.7);
    on-surface: #e0e2e8;
    on-surface-variant: #c2c7cf;
    outline: #8c9198;
    outline-variant: #42474e;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e0e2e8;
    inverse-on-surface: #2d3135;
    inverse-primary: #2d628c;
    surface-dim: #101418;
    surface-bright: #36393e;
    surface-container-lowest: #0b0f12;
    surface-container-low: #181c20;
    surface-container: #1c2024;
    surface-container-high: #272a2e;
    surface-container-highest: #313539;
}
